experiment/processing_code/Wave_Gauge/CISG_pattern.tif
experiment/processing_code/Wave_Gauge/CISG_pattern.png
experiment/processing_code/Wave_Gauge/vaisala_wind_10cmFresh_49cmSalt.mat
*.mat
*.png
*.tif
experiment/processing_code/SOARS/wind_speed_profile.csv
*.dat
*.asv
experiment/processing_code/PIV/.claude/worktrees/interesting-mendeleev-3c458d/
experiment/processing_code/PIV/.claude/worktrees/naughty-shtern-efb6ff/articles/JGR Oceans - 2020 - Troitskaya - A Laboratory Study of the Effect of Surface Waves on Heat and Momentum Transfer at High.pdf
/experiment/processing_code/PIV/.claude
experiment/processing_code/PIV/.claude/settings.local.json
experiment/processing_code/PIV/.claude/settings.local.json
